[project]
	description = Covers C programming examples from the book 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prashant (prashantchikhalkar)
[access "refs/for/refs/*"]
	read = group user/prashant (prashantchikhalkar)
	push = group user/prashant (prashantchikhalkar)
	label-Code-Review = -2..+2 group user/prashant (prashantchikhalkar)
	label-Verified = -1..+1 group user/prashant (prashantchikhalkar)
	rebase = group user/prashant (prashantchikhalkar)
	removeReviewer = group user/prashant (prashantchikhalkar)
	submit = group user/prashant (prashantchikhalkar)
[access "refs/heads/*"]
	read = group user/prashant (prashantchikhalkar)
	create = group user/prashant (prashantchikhalkar)
	push = +force group user/prashant (prashantchikhalkar)
	pushMerge = group user/prashant (prashantchikhalkar)
[access "refs/tags/*"]
	push = +force group user/prashant (prashantchikhalkar)
	pushTag = group user/prashant (prashantchikhalkar)
	pushSignedTag = group user/prashant (prashantchikhalkar)
